# Build outputs
build/
out/
cmake-build-*/

# C++
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

# LLVM
*.bc
*.ll
*.opt.yaml

# CUDA
*.cubin
*.fatbin

# Profiling
*.nvvp
*.nsys-rep
*.qdrep

# Editors
.vscode/
.idea/

# OS files
.DS_Store
